<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Symbotic Common" value="http://nuget.srv.symbotic.corp/nuget/Common" />
    <add key="Symbotic Customer Config Data" value="http://nuget.srv.symbotic.corp/nuget/CustomerConfigData" />
    <add key="Symbotic Data Services" value="http://nuget.srv.symbotic.corp/nuget/DataServices" />
    <add key="Symbotic Mobile Robotic Controls" value="http://nuget.srv.symbotic.corp/nuget/MRC" />
    <add key="Symbotic Storage and Retrieval" value="http://nuget.srv.symbotic.corp/nuget/SRE" />
    <add key="Symbotic System Manager" value="http://nuget.srv.symbotic.corp/nuget/SystemManager" />
    <add key="Symbotic Third Party" value="http://nuget.srv.symbotic.corp/nuget/Third-Party" />
    <add key="Symbotic SymVerse" value="http://nuget.srv.symbotic.corp/nuget/SYMVerse/" />
  </packageSources>
</configuration>
